*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.618em;
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    min-width: 890px;
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;

    display: flex;
    flex-flow: column;
    justify-content: space-around;

    background: linear-gradient(to right, rgb(187, 185, 185), rgba(128, 128, 128, 0))

}

nav a {
    padding: .5em;
    text-decoration: none;
    color:black;
}

nav a:hover {
    background-color:rgba(30, 143, 255, 0.151);
}

header {
    background-image: url(./images/columbus-skyline.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 25px;
}

#name {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

h1 {
    font-size: 36px;
    color: dodgerblue;
    text-shadow: 
    0 0 1em white,
    0 0 0.1em white;  
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0 20%;
}


#myPhoto {
    display:flex;
    justify-content: center;
    padding-top: 3em;
}

#robot {
    
    max-width: 300px;
    border-radius: 25px;
    
}

h2,
h3 {
    color: black;
}

span {
    font-size: 1.25em;
    color: #999;
    text-shadow:
    0 0 1em white,
    0 0 0.1em white;
}

section {
    margin: 1em 0;
    padding-top: 3em;
}

section > p {
    margin: 1em 0;
}

main section span {
    display:flex;
    justify-content: center;
}

#skills {
    display: flex;
    justify-content: center;
}

#projectSnapshots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 1em;
}

#projectSnapshots article {
    background-color: rgba(128, 128, 128, 0.212);
    padding: 1em;
    border-radius: 25px;
}

#projectSnapshots article img {
    width: 100%;
    border: 1px solid black
}


#connect {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: grey;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 1em;
}

