*{
    line-height: 1.618em;
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Nunito;
    src: url('/fonts/Nunito-VariableFont_wght.ttf');
}

html {
    font-size: 16px;
    min-width: 890px;
    position: relative;
}

body {
    background-color: #999;
    font-family: Nunito;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;

    display: flex;
    flex-flow: column;
    justify-content: space-around;

    background: linear-gradient(to right, rgb(187, 185, 185), rgba(128, 128, 128, 0))

}

nav a {
    padding: .5em;
    text-decoration: none;
    font-weight: bold;
    color:black;
    background-color: #ffffff6e;
    border-radius: 5px;
}

nav a:hover {
    background-color:rgba(30, 143, 255, 0.151);
}

header {
    background-image: url(./images/columbus-skyline.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
    margin-bottom: 1vh;
}

#aboutMe {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    justify-content: center;
}
.about_me {
    text-align: center;
}

#me {
    position: relative;
    /* left: 50vh; */
    top: 25vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    /* font-size: 36px; */
    color: dodgerblue;
    text-shadow: 
    0 0 1em white,
    0 0 0.1em white;  
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0 20%;
}


#myPhoto {
    display:flex;
    justify-content: center;
}

#robot {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

h2,
h3 {
    color: black;
}

span {
    font-size: 1.25em;
    color: rgb(255, 255, 255);
    text-shadow:
    0 0 1em white,
    0 0 0.1em white;
}

section {
    margin: 2vh;
}

section > p {
    margin: 1em 0;
}

main section span {
    display:flex;
    justify-content: center;
}

.myInfo {
    display: flex;
    background-color: #ffffff6e;
    border-radius: 15px;
}

#skills {
    display: flex;
    justify-content: center;
}

#projects {
    background-color: #ffffff6e;
    border-radius: 15px;
    padding: 1vh;
}

#projectSnapshots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 1em;
}

#projectSnapshots article {
    background-color: rgba(128, 128, 128, 0.212);
    padding: 1em;
    border-radius: 25px;
}

.project_thumbnail {
    width: 100%;
    border: 1px solid black
}


#connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff6e;
    border-radius: 15px;
    padding: 1vh;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: grey;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 1em;
}

.skills_list {
    padding: 1em;
}

